@model BeYouCRUD.Models.cadastroCursos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>cadastroCursos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome_instituicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_instituicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.curso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cidade_UF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cidade_UF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.duracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.turno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.turno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
