@model IEnumerable<BeYouCRUD.Models.cadastroCursos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome_instituicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cidade_UF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.turno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome_instituicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.curso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cidade_UF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.turno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
